@import "variables";
@import "bootstrap";

#map {
	height: 400px;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  font-family: 'Lato', sans-serif;
}

header {
  margin-bottom: 40px;
}

a {
  color: #768B8C;
}

.nav-tabs {
  margin-bottom: 5px;
	> li > a {
		cursor: pointer !important;
	}
}

.nav > li > a.current {
  border-color: #eee #eee #ddd !important;
  text-decoration: none !important;
  background-color: #eee !important;
}

.nav > li > a {
  &:hover {
    text-decoration: none;
    background-color: #eee;
  }
   &.current {
     text-decoration: none;
     background-color: #eee;
   }
}

.intro {
  margin: 20px 0 20px;
}

h1 {
  &:before {
    content: url(../images/icon.png);
    margin-right: 5px;
  }
}

h2 {
  margin-bottom: 25px;
}

#physical {
  position: relative;

  form {
    position: absolute;
    width: 200px;
    top: -63px;
    right: 0;
    .form-group {
      margin-left: -15px;
    }
    @media (max-width: 620px) {
      position: static;
      width: auto;
      margin-top: 20px;
      .form-group {
        margin-left: 0;
      }
    }
  }

  .content {
    margin-bottom: 40px;
  }

  .advert a img {

      width: 100%;

  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &#online-listings {
    margin-left: -15px;
    > li {
      border-bottom: 1px solid #ddd;
      margin-bottom:10px;
      padding-bottom: 10px;
    }
  }
}

footer {
  color: #fff;
  background: #676F73;
  text-align: center;
  margin-top: 40px;
  padding: 20px 0 10px;
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}
