@import "variables";
@import "bootstrap";

#map {
	height: 400px;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.nav-tabs {
  margin-bottom: 5px;
}

.intro {
  margin: 25px 0;
}

h2 {
  margin-bottom: 25px;
}

#physical {
  position: relative;

  form {
    position: absolute;
    width: 200px;
    top: -70px;
    right: 0;
    .form-group {
      margin-left: -15px;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &#online-listings {
    margin-left: -15px;
    > li {
      border-bottom: 1px solid #ddd;
      margin-bottom:10px;
      padding-bottom: 10px;
    }
  }
}
